@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  html, body {
    background-color: var(--background);
    color: var(--text);
  }
}

:root {
  font-family: var(--font-ibm-plex-mono), monospace !important;

  --background: oklch(0.98 0 0);
  --background-inverse: oklch(0.08 0 0);

  --surface: oklch(0.92 0 0);
  --foreground: oklch(0.12 0 0);
  
  --text: oklch(0.12 0 0);
  --text-inverse: oklch(0.98 0 0);

  --muted: oklch(0.55 0 0);
  
  --contrast: oklch(0.62 0.25 25.7);
}

.dark {
  --background: oklch(0.08 0 0);
  --background-inverse: oklch(0.98 0 0);

  --surface: oklch(0.15 0 0);
  --foreground: oklch(0.98 0 0);
  
  --text: oklch(0.98 0 0);
  --text-inverse: oklch(0.12 0 0);

  --muted: oklch(0.55 0 0);

  --contrast: oklch(0.62 0.25 25.7); 
}

@theme {
  /* Colors */
  --color-background: var(--background);
  --color-background-inverse: var(--background-inverse);
  --color-foreground: var(--foreground:);
  --color-text: var(--text);
  --color-text-inverse: var(--text-inverse);
  --color-muted: var(--muted);
  --color-contrast: var(--contrast);

  /* Text */
  --text-3xl: 5rem; /* 80px */
  --text-2xl: 3.125rem; /* 50px */
  --text-xl: 1.875rem; /* 30px */
  --text-lg: 1.375rem; /* 22px */
  --text-base: 1.125rem; /* 18px */
  --text-sm: 0.875rem; /* 14px */
  --text-xs: 0.75rem; /* 12px */
}

@media (prefers-reduced-motion: reduce) {
  .hide-on-reduced {
    display: none !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .show-only-on-reduced {
    display: none !important;
  }
}