@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

@layer base {
  html,
  body {
    background-color: var(--background);
    color: var(--text);
  }
  section {
    scroll-margin-top: 68px;
  }
}

:root {
  font-family: var(--font-ibm-plex-mono), monospace !important;

  --background: oklch(0.98 0 0); /* #fafafa | rgb(250, 250, 250) */
  --background-inverse: oklch(0.08 0 0); /* #141414 | rgb(20, 20, 20) */

  --surface: oklch(0.92 0 0); /* #eaeaea | rgb(234, 234, 234) */
  --foreground: oklch(0.12 0 0); /* #1f1f1f | rgb(31, 31, 31) */

  --text: oklch(0.12 0 0); /* #1f1f1f | rgb(31, 31, 31) */
  --text-inverse: oklch(0.92 0 0); /* #eaeaea | rgb(234, 234, 234) */

  --muted: oklch(0.55 0 0); /* #858585 | rgb(133, 133, 133) */

  --contrast: oklch(0.62 0.25 25.7); /* #e13338 | rgb(225, 51, 56) */
  --color-game-blue: oklch(0.08 0 0); /* #141414 | rgb(20, 20, 20) */

  --footer: oklch(0.92 0 0); /* #eaeaea | rgb(234, 234, 234) */
}

.dark {
  --background: oklch(0.08 0 0); /* #141414 | rgb(20, 20, 20) */
  --background-inverse: oklch(0.98 0 0); /* #fafafa | rgb(250, 250, 250) */

  --surface: oklch(0.15 0 0); /* #262626 | rgb(38, 38, 38) */
  --foreground: oklch(0.98 0 0); /* #fafafa | rgb(250, 250, 250) */

  --text: oklch(0.98 0 0); /* #fafafa | rgb(250, 250, 250) */
  --text-inverse: oklch(0.12 0 0); /* #1f1f1f | rgb(31, 31, 31) */

  --muted: oklch(0.55 0 0); /* #858585 | rgb(133, 133, 133) */

  --contrast: oklch(0.62 0.25 25.7); /* #e13338 | rgb(225, 51, 56) */
  --color-game-blue: oklch(
    0.8767 0.1599 178.8
  ); /* #6be2e8 | rgb(107, 226, 232) */

  --footer: oklch(0.22 0 0); /* #383838 | rgb(56, 56, 56) */
}

@theme {
  /* Fonts */
  --font-host-grotesk: var(--font-host-grotesk);

  /* Colors */
  --color-background: var(--background);
  --color-background-inverse: var(--background-inverse);
  --color-foreground: var(--foreground);
  --color-text: var(--text);
  --color-text-inverse: var(--text-inverse);
  --color-muted: var(--muted);
  --color-contrast: var(--contrast);
  --color-game-blue: var(--color-game-blue);
  --color-footer: var(--footer);

  /* Text */
  --text-3xl: 5rem; /* 80px */
  --text-2xl: 3.125rem; /* 50px */
  --text-xl: 1.875rem; /* 30px */
  --text-lg: 1.375rem; /* 22px */
  --text-base: 1.125rem; /* 18px */
  --text-sm: 0.875rem; /* 14px */
  --text-xs: 0.75rem; /* 12px */

  /* Media Queries */
  --media-lg: (min-width: 1024px);
  --media-md: (min-width: 768px);
  --media-xs: (min-width: 480px);
}

@media (prefers-reduced-motion: reduce) {
  .hide-on-reduced {
    display: none !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .show-only-on-reduced {
    display: none !important;
  }
}
