@import "tailwindcss";

:root {
  font-family: var(--font-ibm-plex-mono), monospace !important;

  --background: #ffffff;
  --surface: #1a1a1a;
  --text: #0e0e0e;
  --muted: #555555;
  --contrast: #81190E;
}

.dark {
  --background: #0e0e0e;
  --surface: #ededed;
  --text: #ffffff;
  --muted: #ababab;
  --contrast: #81190E;
}

@theme {
  --font-size-2xl: 5rem;
  --font-size-xl: 1.875rem;
  --font-size-lg: 1.375rem;
  --font-size-base: 1.125rem;
  --font-size-sm: 0.875rem;
  --font-size-xs: 0.75rem;
}
